<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<div class="container">

    <form action="/auth/joinProc" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" placeholder="Enter username" id="username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="password">
        </div>

        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" class="form-control" placeholder="Enter nickname" id="nickname">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>

        <div class="form-group">
            <label for="birthday">Birthday</label>
            <input type="text" class="form-control" placeholder="Enter birthday" id="birthday">
        </div>

        <div class="form-group">
            <label for="job">Job</label>
            <input type="text" class="form-control" placeholder="Enter job" id="job">
        </div>

        <div class="form-group">
            <label for="area">Area</label>
            <input type="text" class="form-control" placeholder="Enter area" id="area">
        </div>

    </form>
    <button id="btn-save" class="btn btn-primary">회원가입하기</button>

</div>
</body>
</html>